# ROI Process
landmarker_path : \25th-conference-fakebusters\model\fakecatcher\misc\face_landmarker.task

# Load Data
inference_video_path : 
meta_data_csv_path : 

# Constants
fps_standard: 
seg_time_interval:

# Model
model_path: model/fakecatcher/model_state.pt
model_type: # baseCNN, ResNet34, EfficientNetB3, SVR, Pycaret
output_path: 